@charset "utf-8";
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/**reset**/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
/* button{
    font-family: 'Noto Sans KR', sans-serif;ㄹ
} */
html,button{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
html{
    scroll-behavior: smooth;
    /* overflow-x:hidden; */
}
body{
    
    min-width: 320px;
    height: 500vh;
    /* box-sizing: border-box; */
}

nav{
    z-index: 10;
    /* background-color: #666; */
    /* display: flex; */
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}
nav > .logo{
    cursor: pointer;
}
nav > .gnb{
    display: flex;
}
nav > .gnb > li{
    padding: 10px;
    /* font-size: 1.5rem; */
    cursor: pointer;
}
header > .home{
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)),url(../images/bg_image.jpg); */
    /* background-color: rgba(128, 255, 0, 0.623); */
    /* background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center; */
    color: #fff;
    text-align: center;
    position: relative;
}
header > .home > .container{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
header > .home > .container > *{
    margin: 2rem 0;
}
header > .home h2{
    font-size: 2rem;
}
header > .home h3{
    font-size: 4rem;
}
header > .home span.blink{
    animation: blink 0.5s ease-in-out infinite;
}
header > .home button{
    font-size: 1.5rem;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

}
header > .home button:hover{
    background-color: #fff;
    color: #222;
}
header > .home > i{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    /* z-index: 1; */
}
header > .home video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    padding-bottom: 20px;
    /* margin-bottom: 50px; */
}
main > section:nth-of-type(even){
    background-color: #ddd;
}
main > section{
    width: 100%;
    height: 100vh;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section > .wrapper{
    width: 80%;
    /* margin: 0 auto; */
    /* padding: 100px 0; */
}
main > section *{
    margin: 7px 0;
}
.wrapper > .title{
    margin: 30px 0;
}
.wrapper > .title > h4{
    color: rgb(238, 124, 104);
    font-size: 2rem;
    font-weight: bolder;
}
.wrapper > .title > h2{
    font-size: 3rem;
    font-weight: bolder;
}
/* ABOUT */
.about img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.about .right > h3{
    font-size: 2rem;
}
.about .sns i{
    font-size: 2rem;
    color: rgb(249, 3, 110);
    margin: 3px;
}
/* features */
.features .card{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.features .card:hover{
    background-color: rgb(152, 144, 245);
}
.features .card:hover *{
    color: #fff;
    }
.features .card i{
    color: rgb(238, 124, 104);
    font-size: 4rem;
}
.features .card h3{
    font-size: 2rem;
}
.features .card p{
    /* font-size: 1.5rem; */
    color: #666;
    word-break: break-all; 
}
/* background fixed */
.bg{
    width: 100%;
    height: 80vh;
    background-image: url(../images/bg_image3.gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.portfolio .detail{
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 300px;
}

.portfolio .moveBtn i{
    
    position: relative;
    top: -175px;
    font-size: 30px;
    cursor: pointer;
    /* transform: translateY(-50%); */
}
.portfolio .moveBtn i:nth-child(1){
    left: 0;
}
.portfolio .moveBtn i:nth-child(2){
    left: 90%;
}
.portfolio .card{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(118, 122, 248);
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.portfolio .card.on{
    opacity: 1;
}
/* .portfolio .card:hover{
    transform: scale(1.1);
} */
.portfolio .card img{
    width: 100%;
}
.portfolio .card h3{
    color: tomato;
    font-size: 1.5rem;
}
.portfolio .card p{
    font-size: 2rem;
}
/* contact */
.contact *{
    margin: 5px 0;
}
.contact > .wrapper{
    padding-bottom: 0;
}
.contact .left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .card:last-child{
    width: 100%;
}
.contact .card{
    width: 48%;
    background-color: #fff;
    border: 1px solid rgb(118, 122, 248);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.contact .card .icon{
    font-size: 3rem;
    margin: 0.7rem 2rem;
    color: rgb(249, 3, 110);
}
.contact .text strong{
    font-size: 1.3rem;
    font-weight: bolder;
}
.contact form{
    background-color: #fff;
    border: 1px solid rgb(118, 122, 248);
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.contact form label{
    display: block;
}
.contact form input,
.contact form textarea{
    width: 100%;
    border: 1px solid rgb(118, 122, 248);
    border-radius: 5px;
    padding: 7px;
}
.contact form textarea{
    height: 100px;
    resize: none;
}

.contact form input:focus,
.contact form textarea:focus{
    box-shadow: 0 0 10px rgb(118, 122, 248);
    outline: none;
}
.contact form button{
    width: 100%;
    padding: 10px;
    background-color: rgb(118, 122, 248);
    border: none; 
    color:#fff;
}
/*** 메일 보내기 확인 후 팝업 ***/
.contact .right .thankyou_message{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.thankyou_message p.close{
    padding: 5px 10px;
    background-color: rgb(118, 122, 248);
    color: #fff;

/* animation */
@keyframes blink {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/***미디어 쿼리 작성*********/
/***기본 레이아웃은 모바일(320)을 기준으로 함*********/
/***태블릿**(768*******/
@media all and (min-width: 768px) {
    html{
        font-size: 12px;
    }
    .wrapper{
        width: 100%;
        max-width: 600px;
        /* margin: 50px auto; */
    }
    .features > .detail,
    .portfolio > .detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features > .detail > .card,
    .portfolio > .detail > .card{
        width: 45%;
    }
}
/***pc형****1024*****/
@media all and (min-width: 1024px) {
    html{
        font-size: 14px;
    }
    /* main > section{
        display: block;
    } */
    .wrapper{
        width: 100%;
        max-width: 1024px;
        /* margin: 50px auto; */
        /* margin: 50px auto; */
    }
    /* .about > .detail,
    .features > .detail,
    .portfolio > .detail,
    .contact > .detail{ */
    .wrapper > .detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;        
    }
    .about .detail > img{
        width: 50%;
    }
    .features .detail > .card,
    .portfolio .detail > .card
    {
        width: 30%;
    }
    .contact .detail > .left{
        display: block;
        width: 35%;
    }
    .contact .card{
        width: 100%;
    }
    .contact .detail > .right{
        width: 60%;
    }
}